In [1]:
import pandas as pd

In [3]:
import sys
import os

# Add project root to Python path
sys.path.append(os.path.abspath(".."))

from src.preprocess import load_data, clean_data, feature_engineering

In [ ]:
# --- 2. Load dataset ---
path = r"C:\Users\a12u\OneDrive\Desktop\Courses\IBM Data Science\Data Visualization with python\media-consumption-analysis\data\raw\netflix_titles.csv"

df = load_data(path)

In [6]:
# --- 3. Clean dataset ---
df = clean_data(df)

In [7]:
# --- 4. Feature engineering ---
df = feature_engineering(df)

In [8]:

# --- 5. Basic exploration ---
print("Shape of dataset:", df.shape)
print("\nColumns:", df.columns.tolist())

Shape of dataset: (8807, 17)

Columns: ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'year_added', 'month_added', 'duration_minutes', 'duration_type', 'primary_genre']

In [10]:
# Preview first rows
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added,month_added,duration_minutes,duration_type,primary_genre
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021.0,9.0,90.0,min,Documentaries
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021.0,9.0,2.0,Seasons,International TV Shows
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2021.0,9.0,1.0,Season,Crime TV Shows
3,s4,TV Show,Jailbirds New Orleans,Unknown,Unknown,Unknown,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2021.0,9.0,1.0,Season,Docuseries
4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021.0,9.0,2.0,Seasons,International TV Shows

In [11]:
# --- 6. Dataset info ---
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   show_id           8807 non-null   object
 1   type              8807 non-null   object
 2   title             8807 non-null   object
 3   director          8807 non-null   object
 4   cast              8807 non-null   object
 5   country           8807 non-null   object
 6   date_added        8709 non-null   datetime64[ns]
 7   release_year      8807 non-null   int64
 8   rating            8807 non-null   object
 9   duration          8807 non-null   object
 10  listed_in         8807 non-null   object
 11  description       8807 non-null   object
 12  year_added        8709 non-null   float64
 13  month_added       8709 non-null   float64
 14  duration_minutes  8804 non-null   float64
 15  duration_type     8807 non-null   object
 16  primary_genre     8807 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(12)
memory usage: 1.1+ MB

In [12]:
# --- 7. Summary statistics ---
df.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added,month_added,duration_minutes,duration_type,primary_genre
count,8807,8807,8807,8807,8807,8807,8709,8807.000000,8807,8807,8807,8807,8709.000000,8709.000000,8804.000000,8807,8807
unique,8807,2,8807,4529,7693,749,NaN,NaN,18,221,514,8775,NaN,NaN,NaN,4,36
top,s1,Movie,Dick Johnson Is Dead,Unknown,Unknown,United States,NaN,NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope...",NaN,NaN,NaN,min,Dramas
freq,1,6131,1,2634,825,2818,NaN,NaN,3207,1793,362,4,NaN,NaN,NaN,6128,1600
mean,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-23 01:45:29.452290816,2014.180198,NaN,NaN,NaN,NaN,2018.887932,6.653347,69.846888,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,2008-01-01 00:00:00,1925.000000,NaN,NaN,NaN,NaN,2008.000000,1.000000,1.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2018-04-20 00:00:00,2013.000000,NaN,NaN,NaN,NaN,2018.000000,4.000000,2.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-12 00:00:00,2017.000000,NaN,NaN,NaN,NaN,2019.000000,7.000000,88.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-26 00:00:00,2019.000000,NaN,NaN,NaN,NaN,2020.000000,10.000000,106.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,2021-09-25 00:00:00,2021.000000,NaN,NaN,NaN,NaN,2021.000000,12.000000,312.000000,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN,1.567961,3.431434,50.814828,NaN,NaN